
.icon-nocounter {
	background-image: url('png/nocounter.png');
	background-repeat: no-repeat;
}

.icon-pig {
	background-image: url('png/pig.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

.icon-shield {
	background-image: url('png/shield.png');
	background-repeat: no-repeat;
}

.icon-speech {
	background-image: url('png/speech.png');
	background-repeat: no-repeat;
}

.icon-star {
	background-image: url('png/star.png');
	background-repeat: no-repeat;
}

.icon-bag {
	background-image: url('png/bag.png');
	background-repeat: no-repeat;
}

.icon-box {
	background-image: url('png/box.png');
	background-repeat: no-repeat;
}

.icon-cart {
	background-image: url('png/cart.png');
	background-repeat: no-repeat;
}

.icon-doc-star {
	background-image: url('png/doc-star.png');
	background-repeat: no-repeat;
}